body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

header {
  background-color: #333;
  color: #eee;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; 
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  font-size: 2.5rem;
  flex-grow: 1;
}

header nav {
  flex-shrink: 0; 
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav li {
  margin-left: 1rem;
}

header nav a {
  color: #eee;
  text-decoration: none;
  font-size: 1rem;
}

header nav a:hover {
    color: #841dcd;
}

main {
  padding: 2rem;
  padding-top: 80px; /* Ajuste para el header fijo (un poco más alto que antes) */
  flex-grow: 1; /* Permite que el main ocupe el espacio restante */
  box-sizing: border-box; /* Incluye el padding en el ancho */
}

.data {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.noticia img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 4px;
}

.noticia a {
    color: #841dcd;
    text-decoration: none;
    font-weight: bold;
}

.noticia a:hover {
    text-decoration: underline;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  color: #eee;
  text-align: center;
  padding: 1rem 0;
  z-index: 99;
  box-sizing: border-box;
}